h1{
	background-color: #262121;
	color: ghostwhite;
	font-size: 30px;
	font-family: "Helvetica neue", "Helvetica", "Arial";
	text-align:center;
	padding: 20px;
}
h2{
	color: Black;
	font-family: "Helvetica neue", "Helvetica", "Arial";
	text-align: center;
} 
p{

}
